<% @page_title = "Rename Section Level" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="lookup edit">
  <h2><%= @page_title %></h2>
  <%= form_for(:section_level, :url => {:action => 'update', :id => @section_level.id}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("#{@page_title}") %>
    </div>
  <% end %>
</div>
