<% @page_title = "New Period" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="lookup new">
  <h2><%= @page_title %></h2>
  <%= form_for(:period, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create #{@page_title}") %>
    </div>
  <% end %>
</div>
