<% @page_title = "Menu" %>

<div class="identity">Logged in as <%= session[:username] %></div>

<div class="main">
  <h2>Teacher Functions</h2>
  <p>
  <ul>
    <li><%= link_to("Manage Assessments", :controller => 'assessment') %></li>
    <li><%= link_to("Manage Sections", :controller => 'section') %></li>
  </ul>
  </p>
  
  <% if session[:is_admin] %>
  
  <h2>Admin Functions</h2>
  <p>
  <ul>
    <li><%= link_to("Manage Teachers", :controller => 'teacher') %></li>
    <li><%= link_to("Manage Standards", :controller => 'standard_subject') %></li>
    <li><%= link_to("Manage Subjects", :controller => 'subject') %></li>
    <li><%= link_to("Manage Students", :controller => 'student') %></li>
  </ul>
  </p>
  <h3>Lookup Tables</h3>
  <p>
  <ul>
    <li><%= link_to("Manage Section Levels", :controller => 'section_level') %></li>
    <li><%= link_to("Manage Terms", :controller => 'term') %></li>
    <li><%= link_to("Manage Periods", :controller => 'period') %></li>
  </ul>
  </p>
  <% end %>

  <h2>Misc Functions</h2>
  <p>
  <ul>
    <li>Change Password</li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
  </p>
</div>
