<%= error_messages_for(@standard_subject) %>

<table summary="Standard Subject Fields">
  <tr>
    <th><%= f.label(:name) %></th> 
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:designation, "Abreviation") %></th> 
    <td><%= f.text_field(:designation) %></td>
  </tr>
</table>
