<% @page_title = "#{@assessment.name}: Questions" %>

<%= link_to("<< Back to Assessments", {:controller => 'Assessment', :action => 'list'}, :class => 'back-link') %>
<div class="assessment list">
  <h2><%= @page_title %></h2>

  <%= link_to('Add New Question', {:action => 'new', :assessment_id => @assessment.id}, :class => 'action new') %>

  <div><%= pluralize(@questions.size, 'question') %> found</div>
  
  <table class="listing" summary="assessment list">
    <tr>
      <th>Standard</th>
      <th>Question</th>
      <th>Answers</th>
      <th>Actions</th>
    </tr> 
    <% @questions.each do |question| %>
    <tr class="<%= cycle('odd', 'even') %>"> 
      <td><%= question.sub_standard.short_name %></td> 
      <td><%= question.value %></td> 
      <td>Answers Go Here</td>
      <td class="actions">
        <%= link_to("Answers", {:controller => 'answer', :action => 'list', :question_id => question.id}, :class => 'action show') %>
        <%= link_to('Edit', {:action => 'edit', :id => question.id, :assessment_id => @assessment.id}, :class => 'action edit') %>
        <%= link_to('Delete', {:action => 'delete', :id => question.id, :assessment_id => @assessment.id}, :class => 'action delete') %>
      </td>
    </tr> 
    <% end %>
  </table> 

</div>
