<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Scope | <%= @page_title || 'Admin Area' %></title>
    <%= stylesheet_link_tag 'style.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div>
          <h1><a href="#">Proficiency<strong style="color:#009900">Scope</strong></a></h1>
          <ul id="nav">
            <li class="on"><a href="/admin/menu">Admin</a></li>

            <li><a href="/index.html">about</a></li>
            <li><a href="/index.html">services</a></li>
            <li><a href="/index.html">contact</a></li>
          </ul>
        </div>
      </div>
      <div id="strike">
        <div class="home">
          <p>Admin Area</p>
        </div>
      </div>

      <div id="body">
        <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice].html_safe %>
        </div>
        <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      
      <div id="footer">
        <div>
          <div>
	Copyright &copy; 2011 Your Name here, All Rights Reserved.
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
